<h1>ツイート一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
  </tr>
<% @connect.each do |connect|%>
  <tr>
    <td><%= connect.content%></td>
    <td><%= link_to '詳細を確認する', connect_path(connect.id) %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to '新しくツイートを投稿する', new_connect_path%>
